# IDE specific files
**/.vs
**/.vscode
**/.idea

# dotent build files
**/bin
**/obj

# temporary until I figure out whats going on with gitkraken
**/web

# angular build files
**/.angular
**/node_modules
